html,
body {
  height: 100%;
  width: 100%;
}

body {
  background:url(https://corp-wecom-cdn.elcapp.cn/outlet_test/material/image/20220113/23221981195248510.png) no-repeat;
  background-size:100% 100%;
  /* background:url(https://corp-wecom-cdn.elcapp.cn/outlet_test/material/image/20220112/23138263213265879.png); */
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #ffffff;
}

.none {
  display: none;

}

#container {
  z-index: 3;
  /* position: relative;
  /* width: 70vw; */
  /* margin: 0 6vh; */
  position:fixed;
  left: 52%; 
  top: 50%;
  transform: translate(-50%, -50%);    

}

#menu {
  z-index: 4;
  /* margin-left: 2vh; */
}

.canvas-box {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;
}

.element {
  width:125px;
  height: 166px;
  box-shadow: 0 0 12px rgba(249, 192, 94);
  /* border: 1px solid rgba(249, 192, 94); */
  text-align: center;
  cursor: default;
  transition: background-color 0.3s ease-in;
}

.element:hover {
  /* box-shadow: 0 0 12px rgba(249, 192, 94, 0.75);
  border: 1px solid rgba(249, 192, 94, 0.75); */
}

.element .company {
  position: absolute;
  top: 27%;
  right: 0;
  width: 100%;
  font-size: 25px;
  color: #d6eea1;
}

.element .name {
  margin: 0 10px;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  font-size: 26px;
  font-weight: bold;
  color: #f9c05e;
  text-shadow: 0 0 1px rgba(249, 192, 94, 0.95);
}

.element .details {
  position: absolute;
  bottom: 1.2vh;
  left: 0;
  right: 0;
  font-size: 1.6vh;
  color: rgba(127, 255, 255, 0.75);
}

button {
  color: #f9c05e;
  background: transparent;
  outline: 1px solid #f9c05e;
  border: 0;
  padding: 1.6vh 4vh;
  margin: 0 4.6vh;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255,255,0, .5);
}

button:active {
  color: #fff;
  background-color: rgba(255,255,0, .7);
}

.highlight {
  background-color: #e6b175 !important;
  box-shadow: 0 0 12px #e6b175;
  /* border: 1px solid  rgba(0, 0, 0, 0.5); */
  /* color: #000000!important; */
}
.bg-box{
  width: 100%;
  height: 100%;
}
.bg-video
 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill

}
video {
  object-fit: contain;
}

.highlight.element .name {
  /* text-shadow: 0 0 5px rgba(8, 169, 223, 0.95); */
}

.prize.element .name {
  text-shadow: none;
}

.prize.element {
  transition: background-color 1.5s ease-in 0.3s;
  /* background-color: #f9c05e !important; */

  /* background:url(https://corp-wecom-cdn.elcapp.cn/outlet_test/material/image/20220112/23143769899272448.png) no-repeat; */
  background:url(https://corp-wecom-cdn.elcapp.cn/outlet_test/material/image/20220113/23202548765399331.png) no-repeat;


  background-size:100% 100%;
  border-radius: 10%;
  border:.1px solid #F9D598;
  box-shadow: 0 0 12px #F9D598
}

.prize .company,
.prize .details,
.prize .name,
.highlight .company,
.highlight .name,
.highlight .details {
  /* color: rgba(255, 255, 255, 0.85); */
  color: #c82121

}

.dan-mu {
  visibility: hidden;
  position: fixed;
  z-index: -1;
  font-size: 12px;
  top: 1vh;
  left: 0;
  padding: 0 1.2vh;
  height: 2.2vh;
  line-height: 2.2vh;
  border-radius: 1vh;
  box-sizing: border-box;
  background-color: rgba(0, 127, 127, 0.37);
  box-shadow: 0 0 4px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  color: rgba(127, 255, 255, 0.75);
}

.dan-mu.active {
  visibility: visible;
}

#prizeBar {
  position: fixed;
  left: 0.2vh;
  padding-left: 1.2vh;
  top: 24.2vh;
  z-index: 2;
}

.prize-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width:calc(20vw - 7vh);
}

.prize-item {
  padding: 9px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  flex-wrap: nowrap;
  background-color: rgba(0, 127, 127, 0.37);
  border: 1px solid rgba(127, 255, 255, 0.25);
  color: rgba(255,255,0, .9);
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  transition: transform 1s ease-in;
}

.prize-item .prize-img {
  /* width: 100%; */
  height: 7vh;
  width: 7vh;
  margin-right: 1.2vh;
  border-radius: 50%;
  background-color: #fff;
  text-shadow: 0 0 1vh rgba(0, 255, 255, 0.95);
  overflow: hidden;
}

.prize-img img {
  width: 90%;
  height: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prize-text {
  flex: 1;
}

.prize-title {
  margin: 4px 0;
  font-size: .8vw;
  height:60% ;
}

.prize-count {
  padding: 4px 0;
  position: relative;
}

.prize-count .progress {
  height: 1.8vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 1px;
  overflow: visible;
  border-radius: 1vh;
}

.progress .progress-bar {
  border-radius: 1.8vh;
  position: relative;
  animation: animate-positive 2s;
  background-color: #d9534f;
  height: 1.8vh;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar.active {
  animation: reverse progress-bar-stripes 0.4s linear infinite,
    animate-positive 2s;
}

.progress-bar-striped {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 8px 8px;
  background-size: 8px 8px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 8px 0;
  }

  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 8px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 8px 0;
  }

  to {
    background-position: 0 0;
  }
}

.prize-count-left {
  position: absolute;
  color: #fff;
  right: 9px;
  font-size: 1.8vh;
  line-height: 1.6vh;
  top: 50%;
  transform: translateY(-50%);
}

.shine {
  box-shadow: 0 0 15px 0 rgba(0, 255, 255, 0.5);
  transform: scale(1.2);
  transform-origin: left center;
  position: relative;
    overflow: hidden;
}

.done {
  position: relative;
}

.done:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}


.shine span {
  position: absolute;
  display: block
}

.shine span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#f9c05e);
  animation: animate1 1s linear infinite
}

@keyframes animate1 {
  0% {
      left: -100%
  }

  50%,100% {
      left: 100%
  }
}

.shine span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#f9c05e);
  animation: animate2 1s linear infinite;
  animation-delay: .25s
}

@keyframes animate2 {
  0% {
      top: -100%
  }

  50%,100% {
      top: 100%
  }
}

.shine span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#f9c05e);
  animation: animate3 1s linear infinite;
  animation-delay: .50s
}

@keyframes animate3 {
  0% {
      right: -100%
  }

  50%,100% {
      right: 100%
  }
}

.shine span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#f9c05e);
  animation: animate4 1s linear infinite;
  animation-delay: .75s
}

@keyframes animate4 {
  0% {
      bottom: -100%
  }

  50%,100% {
      bottom: 100%
  }
}


.shine.prize-item {
  /* width: 24vh; */
  margin: 1.8vh 0;
}

.prize-mess {
  width:calc(20vw - 6vh);
  position: fixed;
  top: 20.2vh;
  right: 0.2vh;
  color: #fff;
  line-height: 5vh;
  font-size: 1.6vh;
  margin: 2.4vh 0;
}

.prize-shine {
  font-size: 2.5vh;
  font-weight: bold;
  color: #f9c05e;
  vertical-align: middle;
  padding: 0 6px;
}

.qipao-container {
  position: fixed;
  right: 0;
  top: 10vh;
  bottom: 1vh;
  width: 24vh;
  z-index: 2;
}

.qipao {
  width: 100%;
  padding: 1.8vh 1.4vh;
  line-height: 1.414;
  margin: 4px 0;
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgba(127, 255, 255, 0.25);
  color: rgba(127, 255, 255, 0.75);
}

.music {
  position: fixed;
  top: 3vh;
  right: 4vh;
  z-index: 5;
}

.music-item {
  display: block !important;
  opacity: 0;
}

.music-box {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  text-align: center;
  line-height: 5vh;
  font-size: 1.4vh;
  color: #fff;
  cursor: pointer;
  /* background-color: rgba(253, 105, 0, 0.9); */
 background: url(https://corp-wecom-cdn.elcapp.cn/outlet_test/material/image/20220113/23229171906123500.svg) no-repeat;
 background-size: 100% 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.rotate-active {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.margin-l-40 {
  margin-left: 40px;
}
